


<div class="toolbar" role="banner">
  <img
    width="50"
   
    src="assets/image/sign.png"
  />
  <span>Welcome to Login form</span>

    
    
</div>

<div class="content" role="main">

       <button (click) ="clicksignup('signup')">click sign up</button> 
      <button type="button" class="btn btn-primary" (click) ="clickloginform('loginform')">click Login</button>

</div>


<div style="text-align:center">
  <h1>
   
    Sign up form 

  </h1>

</div>
<nav>
  <a routerLink="/sign-form" routerLinkActive="active" >Sign Form</a>

</nav>
<router-outlet></router-outlet>
