.bg{
    background-image: url(../auth/image/eventhub.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif ;
    min-height: 100%;
    width: 100%;
    position: absolute;
}