
.logo img{

    height: 60px;
    margin-left: 20px;
    padding: 0px 0px 0px 0px;
    width: 60px;
}

.text{        
    font-weight: 700;
    height: 50px;
    width: 50px;
    margin-left: 10px;    
}
.logo{
    text-decoration: none;
}
.button{
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
}
.account-icon{
    border-radius: 2px;
    margin-right: 5px;
    max-height: 50px;
    max-width: 50px;
  
}


.userdetails{    
    background-color: transparent;
    border-color: #0079D3;
    color: #0079D3;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    border: 0px;
}

.userdetails:hover{
    border: 2px solid;
}

.dropdown-item{
    background-color: #f7f7f7;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-item:hover{
    background-color: #2f89ce;
}

.dropdown-menu{
    background-color: #2a649e;
}
